@font-face {
    font-family: "Embers";
    src: url('../fonts/Chasing Embers Demo Version.ttf') format('truetype');
}

body {
    float: left;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #181818;
    /*background-color: #333333;*/
    overflow: hidden;
    /*background-image: url(../../../../images/6814029-tumblr-backgrounds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;*/
}

.container {
    max-width: unset !important;
    padding: 0 !important;
    height: 100%;
}

#menu-top-header {
    width: 100%;
    height: 50px;
    background-color: black;
    top: 0;
    position: fixed;
    z-index: 1000;
    /*border-bottom: 1px solid #47bab3;
    border-top: 1px solid #47bab3;*/
}

    #menu-top-header .login-spaces-font a {
        float: left;
        color: #efefef;
        margin-left: 25px;
        height: 100%;
        line-height: 40px;
        width: 200px;
        font-size: 40px !important;
    }

    #menu-top-header #login-form {
        margin-right: 50px;
        float: right;
        width: auto;
        height: 100%;
    }

    #menu-top-header #menu-form label {
        height: 100%;
        font-weight: 400;
        line-height: 100%;
        color: #efefef;
        margin-right: 5px;
        font-size: 12px;
    }

    #menu-top-header #menu-form input[type=text],
    #menu-top-header #menu-form input[type=password] {
        width: 200px;
        height: 30px;
        margin-top: 10px;
        margin-right: 20px;
        background-color: #eeecec;
        border: 0 !important;
        color: black;
        padding: 5px 10px;
        font-size: 12px;
        border-radius: 3px;
    }

    #menu-top-header .si {
        float: right;
        background-color: transparent;
        border: 0;
        color: #47bab3;
        font-size: 14px;
        margin-right: 20px;
        height: 25px;
        line-height: 25px;
        margin-top: 12.5px;
    }

    #menu-top-header .search-header {
        margin: 0 !important;
        height: 25px;
        line-height: 25px;
        float: right !important;
        margin-top: 12.5px !important;
        margin-right: 100px !important;
        width: auto;
        cursor: pointer;
    }

        #menu-top-header .search-header div {
            float: left;
            height: 100%;
            width: auto;
            padding: 0 10px;
            font-size: 18px;
            color: #c7c5c5;
        }

            #menu-top-header .search-header div:first-of-type {
            }

            #menu-top-header .search-header div:last-of-type {
            }

        #menu-top-header .search-header .form-group {
            height: 25px;
            line-height: 25px;
            margin: 0 !important;
        }

            #menu-top-header .search-header .form-group input {
                height: 25px;
                line-height: 25px;
                margin-top: 10px;
                border-radius: 0px;
            }

            #menu-top-header .search-header .form-group span {
                height: 25px;
                line-height: 25px;
                /*margin-top: 5px;
            border-radius:0px;*/
            }

    #menu-top-header .has-feedback .form-control {
        padding-right: 42.5px;
    }

    #menu-top-header #search-top {
        border-radius: 50px;
        height: 25px;
        line-height: 25px !important;
        margin-top: 7px;
        border: 0;
        background-color: #828282;
        color: white !important;
        /*background-color: black !important;*/
        -webkit-box-shadow: 0 0 0px 1000px #828282 inset;
        -webkit-text-fill-color: white !important;
        color: #1d1d1d;
    }

/*BODY*/

#home-container {
    margin-top: 50px;
    float: left;
    height: calc(100% - 50px);
    width: 100%;
    background-color: transparent;
}

    #home-container .inner-container {
        position: relative;
        height: auto;
        width: 1000px;
        margin: 0 auto;
        background-color: transparent;
    }

        #home-container .inner-container .header {
            float: left;
            color: white;
            height: 40px;
            line-height: 40px;
            width: 100%;
            background-color: transparent;
            font-size:20px;
        }

            #home-container .inner-container .header hr {
                background-color: transparent;
                height: 0;
                border: none;
                border-bottom: 1px solid rgba(255,255,255,0.08);
                border-top: 1px solid rgba(0,0,0,0.9);
                margin: 0;
                clear: both;
            }

    #home-container #panel {
        float: left;
        height: 100%;
        width: 100%;
        background-color: #181818;
        margin-top: 20px;
        padding: 20px 0;
    }

        #home-container #panel .cell {
            float: left;
            background-color: white;
            margin-bottom: 12.5px;
        }

        #home-container #panel .cell1 {
            width: 218.5px;
            height: 200px;
            margin-left: 25px;
        }

        #home-container #panel .cell2 {
            width: 462.5px;
            height: 200px;
            margin-left: 25px;
        }

        #home-container #panel .full {
            width: 950px;
            height: 200px;
            margin-left: 25px;
        }

        #home-container #panel .ad {
            float: left;
            width: 950px;
            height: 100px;
            margin-left: 25px;
            margin-bottom: 12.5px;
            background-color: #ffffff;
        }


@media only screen and (min-width: 1081px) {
}

@media only screen and (max-width: 1080px) {
}

@media only screen and (max-width: 800px) {
}
