@font-face {
    font-family: "Embers";
    src: url('../fonts/Chasing Embers Demo Version.ttf') format('truetype');
}

body {
    float: left;
    height: 100%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url(../../../../images/6814029-tumblr-backgrounds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.container {
    max-width: unset !important;
    padding: 0 !important;
}

#login-top-header {
    width: 100%;
    height: 50px;
    background-color: black;
    top: 0;
    position: absolute;
    /*border-bottom: 1px solid #47bab3;
    border-top: 1px solid #47bab3;*/
}

    #login-top-header .login-spaces-font a {
        float: left;
        color: #efefef;
        margin-left: 25px;
        height: 100%;
        line-height: 40px;
        width: 200px;
        font-size: 40px !important;
    }

    #login-top-header #login-form {
        margin-right: 50px;
        float: right;
        width: auto;
        height: 100%;
        display: inline-flex;
    }

        #login-top-header #login-form label {
            height: 100%;
            font-weight: 400;
            line-height: 100%;
            color: #efefef;
            margin-right: 5px;
            font-size: 12px;
        }

        #login-top-header #login-form input[type=text],
        #login-top-header #login-form input[type=password],
        #login-top-header #login-form input[type=email] {
            width: 200px;
            height: 25px;
            margin-top: 10px;
            margin-right: 20px;
            background-color: #eeecec;
            border: 0 !important;
            color: black;
            padding: 5px 10px;
            font-size: 12px;
            border-radius: 3px;
        }

            #login-top-header #login-form input[type=text]:-webkit-autofill,
            #login-top-header #login-form input[type=password]:-webkit-autofill,
            #login-top-header #login-form input[type=email]:-webkit-autofill {
                color: white !important;
                /*background-color: black !important;*/
                background-color: #eeecec !important;
                -webkit-box-shadow: 0 0 0px 1000px #eeecec inset;
                -webkit-text-fill-color: black !important;
            }

        #login-top-header #login-form .fp-btn,
        #login-top-header #login-form .si-btn,
        #login-top-header #login-form .su-btn {
            background-color: transparent;
            border: 0;
            font-size: 14px;
            height: 100%;
            line-height: 100%;
            outline: none;
        }

        #login-top-header #login-form .fp-btn {
            color: #efefef;
            margin-right: 20px;
        }

        #login-top-header #login-form .si-btn {
            color: #efefef;
            margin-right: 20px;
        }

        #login-top-header #login-form .su-btn {
            color: #47bab3 !important;
        }

    #login-top-header #mob-login-form {
        display: none;
        margin-right: 50px;
        float: right;
        width: auto;
    }

        #login-top-header #mob-login-form .si-btn {
            background-color: transparent;
            border: 0;
            color: #efefef;
            font-size: 12px;
            margin-right: 20px;
            height: 30px;
            margin-top: 5px;
        }

        #login-top-header #mob-login-form .su-btn {
            background-color: transparent;
            border: 0;
            color: #efefef;
            font-size: 12px;
            color: #47bab3 !important;
            height: 30px;
            margin-top: 5px;
        }

#login-top {
    margin: 0 auto;
    width: 980px;
}

    #login-top #login-input {
        height: 80px;
        float: right;
        width: auto;
        margin-right: 20px;
        background-color: black;
    }

        #login-top #login-input .login-inner {
            height: 50px;
            float: right;
            width: auto;
        }

        #login-top #login-input .login-rememberme {
            height: 30px;
            float: right;
            width: 100%;
        }

            #login-top #login-input .login-rememberme .rememberMe-chk {
                height: 30px;
                float: right;
                width: auto;
            }

                #login-top #login-input .login-rememberme .rememberMe-chk label {
                    color: white;
                }

            #login-top #login-input .login-rememberme .forgot-pw {
                height: 30px;
                float: right;
                width: auto;
            }

        #login-top #login-input input[type=text], #login-top #login-input input[type=password],
        #login-top #login-input input[type=email] {
            width: 180px;
            height: 25px;
            margin-top: 12.5px;
            margin-right: 10px;
            padding-left: 10px;
            font-size: 11px;
        }

        #login-top #login-input button {
            float: right;
            width: 100px;
            margin-top: 12.5px;
            margin-right: 10px;
            height: 25px;
            background-color: #53b4b0;
            color: white;
            box-shadow: none;
            border: none;
            font-size: 14px;
            /*font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;*/
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }

#test {
    color: #d3d2d2;
}

#login-top #social-icons {
    float: left;
    margin-left: 20px;
}

    #login-top #social-icons a {
        float: right;
        margin-top: 10px;
        margin-right: 5px;
        height: 30px;
        width: 30px;
    }

        #login-top #social-icons a img {
            vertical-align: top;
        }

#backdrop {
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.loginLabel {
    color: white;
}

#persist_box {
    padding-top: 10px !important;
}

.login_form_label_field a {
    color: white;
}

    .login_form_label_field a:hover {
        color: white;
    }

.login-body-text {
    margin: 0 auto;
    width: 980px;
}

    .login-body-text .login-display {
        float: left;
        height: 100%;
        width: 100%;
    }

        .login-body-text .login-display #login-display {
            float: left;
            width: 100%;
            height: 100%;
            background-color: none;
            opacity: 0;
            z-index: 9999;
        }

        .login-body-text .login-display .underline {
            float: left;
            width: 100%;
            border-bottom: 5px solid white;
            margin-top: 20px;
        }

        .login-body-text .login-display .quote {
            float: left;
            width: 100%;
            text-align: left;
            color: white;
            font-size: 24px;
            margin-top: 20px;
        }

        .login-body-text .login-display .quote-Name {
            float: left;
            width: 100%;
            text-align: center;
            color: white;
            font-size: 18px;
            font-weight: 100;
            margin-top: 20px;
        }

        .login-body-text .login-display #login-msg {
            float: left;
            width: 100%;
            text-align: left;
            color: white;
            font-size: 50px;
            margin-top: 20%;
        }

        .login-body-text .login-display .loginReg-btns {
            position: relative;
            width: 300px;
            margin: 30px auto;
            height: auto;
        }

            .login-body-text .login-display .loginReg-btns button {
                position: relative;
                width: 300px;
                margin: 20px auto 0 auto;
                height: 40px;
                background-color: #53b4b0;
                color: white;
                box-shadow: none;
                border: none;
                font-size: 14px;
                /*font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;*/
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }

.si-modal {
    background: rgba(0,0,0,0.7);
    height: auto;
    width: 600px;
    margin: 20px auto;
    z-index: 999;
    position: relative;
}

    .si-modal #login-title {
        position: relative;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 50px;
        color: white;
        font-weight: 300;
        font-size: 26px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding-top: 10px;
    }

    .si-modal #close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

        .si-modal #close:hover {
            text-decoration: none;
        }

    .si-modal #login-title button {
        float: right;
        height: 30px;
        line-height: 30px;
        width: 30px;
        margin-top: 10px;
        margin-right: 10px;
        background-color: transparent !important;
        border: 0;
        padding: 0;
    }

        .si-modal #login-title button:active {
            background-color: transparent !important;
            border: 0;
        }

    .si-modal #login-subtitle {
        position: relative;
        height: 30px;
        line-height: 30px;
        width: 100px;
        text-align: center;
        color: white;
        font-weight: 300;
        font-size: 16px;
        padding-left: 10px;
        margin: 0 auto;
    }

    .si-modal form {
        position: relative;
        width: 100%;
        height: auto;
        padding: 40px 40px 20px 40px;
    }

        .si-modal form input:not([type="radio"]) {
            position: relative;
            width: 80%;
            margin-left: 10%;
            min-height: 40px;
            color: white !important;
            background-color: black;
            border: 0;
            text-align: center;
        }

            .si-modal form input:not([type="radio"]):-webkit-autofill {
                color: white !important;
                /*background-color: black !important;*/
                background-color: black !important;
                -webkit-box-shadow: 0 0 0px 1000px black inset;
                -webkit-text-fill-color: white !important;
            }

.login-input {
    margin-top: 10px;
    padding: 0 10px;
}

#registerbtn {
    position: relative;
    border-radius: 50px;
    width: 75px;
    margin: 15px auto 0 auto;
    margin-left: calc(50% - 37.5px);
    height: 75px;
    background-color: #53b4b0;
    color: white;
    box-shadow: none;
    border: none;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

    #registerbtn.disabled {
        background-color: #0b3836;
    }

.validationMsg {
    position: relative;
    width: 80%;
    margin-left: 10%;
    color: red;
    padding-top: 5px;
}

.input-validation-err {
    border: 1px solid red !important;
}

#aha {
    position: relative;
    width: 100%;
    text-align: center;
    color: #acabab;
}

    #aha a {
        color: white;
        cursor: pointer;
    }

        #aha a:hover {
            text-decoration: none;
        }

#loginbtn {
    position: relative;
    width: 100%;
    margin: 30px auto 0 auto;
    height: 40px;
    background-color: #53b4b0;
    color: white;
    box-shadow: none;
    border: none;
    font-size: 14px;
    font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
}

#loginbtn {
    margin: 0 auto 0 auto;
}

.or {
    position: relative;
    width: 100%;
    margin: 0;
    line-height: 40px;
    height: 40px;
    color: white;
    font-size: 14px;
    /*font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.loginForm {
    padding: 0 40px 20px 40px !important;
}

#footer {
    float: left;
    height: 50px;
    width: 100%;
    background-color: black;
}

@media only screen and (min-width: 1081px) {

    .si-modal {
        margin-top: 80px;
        position: absolute;
        width: 600px;
        left: calc(50% - 300px);
    }

    .login-body-text {
        /*width: 100% !important;*/
        /*margin-top: 25% !important;*/
        /*z-index: 1;*/
    }

        .login-body-text .login-display #login-msg {
            font-size: 30px;
            margin-top: 25% !important;
        }

        .login-body-text .login-display .underline {
            display: none;
        }

        .login-body-text .login-display .quote {
            font-size: 16px;
            margin-top: 20px;
        }

        .login-body-text .login-display .quote-Name {
            font-size: 10px;
            margin-top: 20px;
        }
}

@media only screen and (max-width: 1080px) {

    .register-section {
        margin-top: 80px;
        position: absolute;
        width: 600px;
        left: calc(50% - 300px);
    }

    /*#login-form {
        display: none !important;
    }

    #mob-login-form {
        display: block !important;
    }*/

    #login-top-header #login-form input[type=text],
    #login-top-header #login-form input[type=password] {
        width: 100px;
        height: 25px;
        margin-top: 7px;
        margin-right: 5px;
        font-size: 11px;
    }

    .login-body-text {
        width: 100% !important;
        /*margin-top: 25% !important;*/
        z-index: 1;
    }

        .login-body-text .login-display #login-msg {
            font-size: 26px;
            margin-top: 25% !important;
        }

        .login-body-text .login-display .underline {
            display: none;
        }

        .login-body-text .login-display .quote {
            font-size: 12px;
            margin-top: 20px;
        }

        .login-body-text .login-display .quote-Name {
            font-size: 10px;
            margin-top: 20px;
        }

    .register-section {
        /*float: left;
        height: auto;
        width: 100%;
        margin-top: 0 !important;
        left: 0 !important;*/
    }

    #bot-terms {
        font-size: 8px !important;
    }

    /*.su, #si {
        float: right;
        height: 30px !important;
        margin-top: 5px !important;
        line-height: 30px;
    }

        .su:hover, #si:hover {
            text-decoration: none;
        }*/
}


@media only screen and (max-width: 800px) {

    #login-form {
        display: none !important;
    }

    .login-body-text {
        display: none !important;
    }

    .login-form-mobile {
        display: block !important;
        width: 100%;
        margin-top: 25%;
        height: auto;
    }

        .login-form-mobile #login-title {
            width: 100%;
            text-align: center;
            height: 30px;
            line-height: 30px;
            font-size: 20px;
            color: white;
        }

        .login-form-mobile .login-input {
            position: relative;
            width: 80%;
            margin-left: 10%;
            min-height: 40px;
            color: white !important;
            background-color: black !important;
            border: 0;
            text-align: center;
        }

            .login-form-mobile .login-input:-webkit-autofill {
                color: white !important;
                /*background-color: black !important;*/
                background-color: black !important;
                -webkit-box-shadow: 0 0 0px 1000px black inset;
                -webkit-text-fill-color: white !important;
            }

        .login-form-mobile #aha {
            margin-top: 10px;
            color: #d5d5d5 !important;
        }

        .login-form-mobile .fp {
            font-size: 10px;
        }

    .si-btn {
        display: none !important;
    }

    .su-btn {
        display: none !important;
    }

    .login-spaces-font {
        width: 100% !important;
        text-align: center;
        margin: 0 !important;
    }

        .login-spaces-font a {
            width: 100% !important;
            text-align: center;
            margin: 0 !important;
        }
}
















/*======================= IMAGE SLIDER=============*/
/* jssor slider bullet navigator skin 05 css */
/*
            .jssorb05 div           (normal)
            .jssorb05 div:hover     (normal mouseover)
            .jssorb05 .av           (active)
            .jssorb05 .av:hover     (active mouseover)
            .jssorb05 .dn           (mousedown)
            */
.jssorb05 {
    position: absolute;
}

    .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
        position: absolute;
        /* size of bullet elment */
        width: 16px;
        height: 16px;
        /*background: url('img/b05.png') no-repeat;*/
        background: url('../../Images/b05.png') no-repeat;
        overflow: hidden;
        cursor: pointer;
    }

    .jssorb05 div {
        background-position: -7px -7px;
    }

        .jssorb05 div:hover, .jssorb05 .av:hover {
            background-position: -37px -7px;
        }

    .jssorb05 .av {
        background-position: -67px -7px;
    }

    .jssorb05 .dn, .jssorb05 .dn:hover {
        background-position: -97px -7px;
    }

/* jssor slider arrow navigator skin 22 css */
/*
            .jssora22l                  (normal)
            .jssora22r                  (normal)
            .jssora22l:hover            (normal mouseover)
            .jssora22r:hover            (normal mouseover)
            .jssora22l.jssora22ldn      (mousedown)
            .jssora22r.jssora22rdn      (mousedown)
            */
.jssora22l, .jssora22r {
    display: block;
    position: absolute;
    /* size of arrow element */
    width: 40px;
    height: 58px;
    cursor: pointer;
    background: url('../../Images/a22.png') center center no-repeat;
    overflow: hidden;
}

.jssora22l {
    background-position: -10px -31px;
}

.jssora22r {
    background-position: -70px -31px;
}

.jssora22l:hover {
    background-position: -130px -31px;
}

.jssora22r:hover {
    background-position: -190px -31px;
}

.jssora22l.jssora22ldn {
    background-position: -250px -31px;
}

.jssora22r.jssora22rdn {
    background-position: -310px -31px;
}


/*Facebook Button*/

/* Facebook */
.fb-container {
    position: relative;
    width: 241px;
    /*margin-left: 10%;*/
    margin-left:calc(50% - 120px);
}

.fb-icon-bg {
    background: #354f88;
    height: 37px;
    margin: 0 0 -37px 0;
    width: 41px;
    background-image:url('../../../../images/facebook_circle_color-128.png');
    background-size:41px 37px;
    background-repeat:no-repeat;
}

    .fb-icon-bg:after {
        /*content: url('../../../../images/facebookico.png');*/
        display: block;
        padding: 9px 10px 5px 15px;
    }

.fb-bg {
    background: #3b5998;
    display: block;
    height: 37px;
    line-height: 37px;
    margin: 0 0 30px 41px;
    width: 200px;

    color: #fff;
        /*font-family: 'Oswald', sans-serif;*/
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-transform: uppercase;
        font-size:14px;
        text-align:center;
    /*width: calc(100% - 41px);*/
}

    .fb-bg:after {
        /*color: #fff;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;
        font-size:14px;*/


        height: 37px;
        left: 8%;
        position: relative;
        top: 22%;
        width: 41px;
    }

    .fb-bg:hover {
        cursor: pointer;
    }

    .fb-bg:active {
        background: #354f88;
    }
