body {
    float: left;
    height: 100%;
    width: 100%;
    background-color: transparent !important;
    background-image: url(../../Images/6814029-tumblr-backgrounds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.register-form {
    /*background: rgba(0,0,0,0.7);*/
    height: auto;
    position: absolute;
    width: 100%;
    top: 15%;
}

    .register-form #login-title {
        position: relative;
        height: 50px;
        width: 100%;
        text-align: center;
        line-height: 50px;
        color: white;
        font-weight: 300;
        font-size: 20px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .register-form #close {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

        .register-form #close:hover {
            text-decoration: none;
        }

    .register-form #login-title button {
        float: right;
        height: 30px;
        line-height: 30px;
        width: 30px;
        margin-top: 10px;
        margin-right: 10px;
        background-color: transparent !important;
        border: 0;
        padding: 0;
    }

        .register-form #login-title button:active {
            background-color: transparent !important;
            border: 0;
        }

    .register-form #login-subtitle {
        position: relative;
        height: 30px;
        line-height: 30px;
        width: 100px;
        text-align: center;
        color: white;
        font-weight: 300;
        font-size: 16px;
        padding-left: 10px;
        margin: 0 auto;
    }

    .register-form form {
        position: relative;
        width: 100%;
        height: auto;
        /*padding: 40px 40px 20px 40px;*/
    }

        .register-form form input:not([type="radio"]) {
            position: relative;
            width: 80%;
            margin-left: 10%;
            min-height: 40px;
            color: white !important;
            background-color: black;
            border: 0;
            text-align: center;
        }

.register-form form input[type=text]:-webkit-autofill,
.register-form form input[type=password]:-webkit-autofill,
.register-form form input[type=email]:-webkit-autofill {
    color: white !important;
    /*background-color: black !important;*/
    background-color: black !important;
    -webkit-box-shadow: 0 0 0px 1000px black inset;
    -webkit-text-fill-color: white !important;
}

.login-input {
    margin-top: 10px;
    padding: 0 10px;
}

#registerbtn {
    position: relative;
    border-radius: 50px;
    width: 75px;
    margin: 15px auto 0 auto;
    margin-left: calc(50% - 37.5px);
    height: 75px;
    background-color: #53b4b0;
    color: white;
    box-shadow: none;
    border: none;
    font-size: 14px;
    font-family: "Gotham SSm A","Gotham SSm B",Helvetica,Arial,sans-serif;
}

#aha {
    position: relative;
    width: 100%;
    text-align: center;
    color: #d5d5d5;
    margin-top: 10px;
}

    #aha a {
        color: white;
        cursor: pointer;
    }

        #aha a:hover {
            text-decoration: none;
        }

.login-spaces-font {
    width: 100% !important;
    text-align: center;
    margin: 0 !important;
}

#bot-terms {
    font-size: 8px !important;
}
