body {
    overflow: hidden;
}

.container {
    height: calc(100% - 70px);
}

.chatWindow {
    float: left;
    height: 100%;
    width: 100%;
    height: 100%;
}

    .chatWindow h6 {
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 100%;
        margin: 0;
        color: #47bab3;
        font-size: 16px;
        text-transform: lowercase;
        background-color:#46494c;
        letter-spacing: 3px;
    }

    .chatWindow .chat-container {
        height: calc(100% - 40px);
        margin: 10px;
        margin-top: 30px;
        background-color: white;
        border: 1px solid #C5C3C6;
    }

    .chatWindow ul{
        padding:10px;
        height:calc(100% - 40px);
        margin:0;
    }

    .chatWindow .chat-content {
        width: 100%;
        height: calc(100% - 70px);
        float: left;
        padding: 0 10px;
    }

        .chatWindow .chat-content .chat-window {
            width: calc(100% - 200px);
            height: 100%;
            float: left;
        }

            .chatWindow .chat-content .chat-window .chat-container,
            .chatWindow .chat-content .chat-window .chat-container h6 {
                border-top-left-radius: 20px;
            }

    .chatWindow .user-content {
        width: 200px;
        height: 100%;
        float: right;
    }

        .chatWindow .user-content .chat-container, 
        .chatWindow .user-content .chat-container h6 {
            border-top-right-radius: 20px !important;
        }

    .chatWindow .chat-form {
        height: 70px;
        width: 100%;
        float: left;
        padding: 0 10px 10px 10px;
    }

        .chatWindow .chat-form input[type=text] {
            float: left;
            width: calc(100% - 220px);
            height: 40px;
            margin: 10px;
            padding-left: 20px;
            border: 1px solid #C5C3C6;
            border-bottom-left-radius: 20px;
        }

        .chatWindow .chat-form .spayses-btn {
            color: white;
            border: 1px solid #47bab3;
            float: left;
            width: 180px;
            height: 40px;
            background-color: #47bab3;
            margin: 10px;
            box-shadow: none;
            font-size: 14px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            border-bottom-right-radius: 20px;
        }
