<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/jquery-1.10.2.js"></script>
<link href="/stylesheets/Chat.css" rel="stylesheet" />

<script>
    var socket = io();
    $('form').submit(function () {
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
    });
</script>

<!--<div class="nameWindow" style="height:100%; width:100%; ">

    <div style="margin-top:25px; width:300px; margin-left:auto; margin-right:auto; position:relative;">
        <p style="height:100px; width:100%; text-align:center">Enter Your Name</p>

        <input id="name" autocomplete="off" style="width:100%;" />
        <br />
        <button id="start" style="margin-top:20px;margin-left:auto; margin-right:auto; position:relative;">Start Chatting</button>
    </div>
</div>-->

<div class="chatWindow">

    <div class="chat-content">
        <div class="chat-window">
            <div class="chat-container">
                <h6>Worms Delish Body</h6>
                <ul id="messages"></ul>
            </div>
        </div>
        <div class="user-content">
            <div class="chat-container">
                <h6>Users</h6>
                <ul id="users"></ul>
            </div>
        </div>
    </div>

    <form class="chat-form" action="">
        <input type="text" id="m" autocomplete="off" /><button class="spayses-btn">Send</button>
    </form>

</div>
