<link href="../../stylesheets/Login/ForgotPassword.css" rel="stylesheet" />

<div id="login-top-header">

    <div class="spaces-font login-spaces-font">
        <a class="spaces-font" href="/">Spayses</a>
    </div>

</div>

<div class="register-form">
    <div id="login-title">RESET PASSWORD</div>

    <form>
        <div class="col-md-12">
            <p id="fp-title">An email will be sent with instructions on how to reset your password</p>
        </div>

        <div class="col-md-12">
            <input id="email" class="login-input" placeholder="Email" type="text" />
        </div>
        
        <button id="registerbtn">Reset</button>
    </form>

    <p id="aha"><a href="/">Cancel</a></p>
</div>

<div style="position:absolute; width:100%;height:40px; background-color:black; top:calc(100% - 40px);">

    <div id="bot-terms" style="float:right; color:#9d9d9d; margin-right:15px; height:40px; line-height:40px; width:auto; font-size:12px;">
        2015 SPACES. ALL RIGHTS RESERVED &nbsp; PRIVACY POLICY &nbsp; / &nbsp; TERMS AND CONDITIONS
    </div>

</div>
