

<div id="home-container">
    <div class="inner-container">

        <div class="header">
            Popular Chats
            <hr />
        </div>
        
        <div id="panel">
            <div class="cell cell1">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>Melbourne</h2>
                        <p>Melbourne is cool.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="cell cell1">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>USA</h2>
                        <p>All USA stuff</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="cell cell1">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>Lord Plops</h2>
                        <p>Lord Plops is a slug of the most sluggiest nature.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="cell cell1">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>Digger</h2>
                        <p>A god amongst mere mortals. Has the body of a god. Women gush at the sight of him.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>

            <div class="cell cell2">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>AFL</h2>
                        <p>Best sport in the world. The tigers stink.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="cell cell2">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>China</h2>
                        <p>Ching Chong.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>

            <div class="ad">
                    ---AD---   Get Great ABs like the godly Daniel Wormald
            </div>

            <div class="cell cell1">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>Slug</h2>
                        <p>AKA Tom Ploptington.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="cell cell2">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>God</h2>
                        <p>AKA Daniel Wormald.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="cell cell1">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>Ok</h2>
                        <p>Ok.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>

            <div class="cell cell2">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>God</h2>
                        <p>AKA Daniel Wormald.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="cell cell1">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>Slug</h2>
                        <p>AKA Tom Ploptington.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="cell cell1">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>Ok</h2>
                        <p>Ok.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>

            <div class="cell full">
                <div class="view view-first">
                    <img src="images/Tower.png">
                    <div class="mask">
                        <h2>Ok</h2>
                        <p>Ok.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>