

<div id="home-container">
    <div class="inner-container">
        <div class="tile-grp">
            <div class="tile-grp-header stick spayses-color">
                Popular Chats
                <hr />
            </div>
            <div class="final-tiles-gallery caption-bottom caption-bg">

                <div class="ftg-items" style="position: relative; height: 480px;">
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 0px; top: 0px; position: absolute; width: 360px; height: 240px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=1.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=1.jpg&amp;width=400" data-src="imgp.php?src=1.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -0.15px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 370px; top: 0px; position: absolute; height: 240px; width: 360px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=2.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=2.jpg&amp;width=400" data-src="imgp.php?src=2.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -0.15px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 740px; top: 0px; position: absolute; width: 260px; height: 160px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=3.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=3.jpg&amp;width=400" data-src="imgp.php?src=3.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -6.775px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 740px; top: 170px; position: absolute; width: 260px; height: 150px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=4.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=4.jpg&amp;width=400" data-src="imgp.php?src=4.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -11.775px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 0px; top: 250px; position: absolute; width: 360px; height: 230px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=5.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=5.jpg&amp;width=400" data-src="imgp.php?src=5.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -5.15px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 370px; top: 250px; position: absolute; height: 230px; width: 360px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=6.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=6.jpg&amp;width=400" data-src="imgp.php?src=6.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -5.15px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 740px; top: 330px; position: absolute; height: 150px; width: 260px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=7.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=7.jpg&amp;width=400" data-src="imgp.php?src=7.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -11.775px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="tile-grp">
            <div class="tile-grp-header stick spayses-color">
                Your Chats
                <hr />
            </div>
            <div class="final-tiles-gallery caption-bottom caption-bg">

                <div class="ftg-items" style="position: relative; height: 480px;">
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 0px; top: 0px; position: absolute; width: 360px; height: 240px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=1.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=1.jpg&amp;width=400" data-src="imgp.php?src=1.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -0.15px;">
                            <span class="title">AFL</span>
                            <span class="subtitle">Tigers Stink</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 370px; top: 0px; position: absolute; height: 240px; width: 360px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=2.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=2.jpg&amp;width=400" data-src="imgp.php?src=2.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -0.15px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 740px; top: 0px; position: absolute; width: 260px; height: 160px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=3.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=3.jpg&amp;width=400" data-src="imgp.php?src=3.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -6.775px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 740px; top: 170px; position: absolute; width: 260px; height: 150px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=4.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=4.jpg&amp;width=400" data-src="imgp.php?src=4.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -11.775px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 0px; top: 250px; position: absolute; width: 360px; height: 230px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=5.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=5.jpg&amp;width=400" data-src="imgp.php?src=5.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -5.15px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 370px; top: 250px; position: absolute; height: 230px; width: 360px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=6.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=6.jpg&amp;width=400" data-src="imgp.php?src=6.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -5.15px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                    <div class="tile ftg-loaded" style="transition: all 0.3s; left: 740px; top: 330px; position: absolute; height: 150px; width: 260px;">
                        <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="imgp.php?src=7.jpg&amp;width=800">
                            <img class="item" src="http://www.final-tiles-gallery.com/imgp.php?src=7.jpg&amp;width=400" data-src="imgp.php?src=7.jpg&amp;width=400" alt="Lorem ipsum - Pellentesque ornare ornare" style="top: -11.775px;">
                            <span class="title">Lorem ipsum</span>
                            <span class="subtitle">Pellentesque ornare ornare</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        

        <!--<div class="final-tiles-gallery caption-top caption-bg tile-grp">
            <div class="ftg-items">
                <div class="tile">
                    <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="#">
                        <img class="item" data-src="images/MenuIcon.png" height="300" width="400"/>
                        <span class='title'>Lorem ipsum</span>
                        <span class='subtitle'>Pellentesque ornare ornare</span>
                    </a>
                </div>
                <div class="tile">
                    <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="#">
                        <img class="item" data-src="images/MenuIcon.png" height="300" width="400" />
                        <span class='title'>Lorem ipsum</span>
                        <span class='subtitle'>Pellentesque ornare ornare</span>
                    </a>
                </div>
                <div class="tile">
                    <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="#">
                        <img class="item" data-src="images/MenuIcon.png"  height="300" width="400" />
                        <span class='title'>Lorem ipsum</span>
                        <span class='subtitle'>Pellentesque ornare ornare</span>
                    </a>
                </div>
                <div class="tile">
                    <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="#">
                        <img class="item" data-src="images/MenuIcon.png" height="300" width="400" />
                        <span class='title'>Lorem ipsum</span>
                        <span class='subtitle'>Pellentesque ornare ornare</span>
                    </a>
                </div>
                <div class="tile">
                    <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="#">
                        <img class="item" data-src="images/MenuIcon.png" height="300" width="400" />
                        <span class='title'>Lorem ipsum</span>
                        <span class='subtitle'>Pellentesque ornare ornare</span>
                    </a>
                </div>
                <div class="tile">
                    <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="#">
                        <img class="item" data-src="images/MenuIcon.png" height="300" width="400" />
                        <span class='title'>Lorem ipsum</span>
                        <span class='subtitle'>Pellentesque ornare ornare</span>
                    </a>
                </div>
                <div class="tile">
                    <a data-lightbox="gallery" data-title="Lorem ipsum - Pellentesque ornare ornare" class="tile-inner" href="#">
                        <img class="item" data-src="images/MenuIcon.png" height="300" width="400" />
                        <span class='title'>Lorem ipsum</span>
                        <span class='subtitle'>Pellentesque ornare ornare</span>
                    </a>
                </div>
            </div>
        </div>-->


        <!--<div class="tile-group">
            <div class="header stick spayses-color">
                Popular Chats
                <hr />
            </div>

            <div class="tile single blue">
                <a href="http://buildinternet.com/project/mosaic" class="mosaic-overlay" style="display: inline; opacity: 0;">&nbsp;</a>
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single brown">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single green">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single red">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/5825408292_11759e3304_o.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/9997944383_ea7eee16fa_k.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single blue">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single brown">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single green">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single red">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/5825408292_11759e3304_o.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/9997944383_ea7eee16fa_k.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
        </div>
        <div class="tile-group">
            <div class="header stick">
                Your Chats
                <hr />
            </div>

            <div class="tile single blue">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single brown">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single green">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single red">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/5825408292_11759e3304_o.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/9997944383_ea7eee16fa_k.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single blue">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single brown">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single green">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single red">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/5825408292_11759e3304_o.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/9997944383_ea7eee16fa_k.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
        </div>-->
    </div>
</div>