

<div id="home-container">
    <div class="inner-container">
        <div class="tile-group">
            <div class="header stick spayses-color">
                Popular Chats
                <hr />
            </div>

            <div class="tile single blue">
                <a href="http://buildinternet.com/project/mosaic" class="mosaic-overlay" style="display: inline; opacity: 0;">&nbsp;</a>
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single brown">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single green">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single red">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/5825408292_11759e3304_o.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/9997944383_ea7eee16fa_k.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single blue">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single brown">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single green">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single red">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/5825408292_11759e3304_o.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/9997944383_ea7eee16fa_k.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>


            <!--<div class="tile single">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>Melbourne</h2>
                        <p>Melbourne is cool.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="tile single">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>USA</h2>
                        <p>All USA stuff</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="tile single">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>Lord Plops</h2>
                        <p>Lord Plops is a slug of the most sluggiest nature.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="tile single">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>Digger</h2>
                        <p>A god amongst mere mortals. Has the body of a god. Women gush at the sight of him.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>

            <div class="tile double">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>AFL</h2>
                        <p>Best sport in the world. The tigers stink.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="tile double">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>China</h2>
                        <p>Ching Chong.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>

            <div class="tile ad">
                    ---AD---   Get Great ABs like the godly Daniel Wormald
            </div>

            <div class="tile single">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>Slug</h2>
                        <p>AKA Tom Ploptington.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="tile double">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>God</h2>
                        <p>AKA Daniel Wormald.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="tile single">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>Ok</h2>
                        <p>Ok.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>

            <div class="tile double">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>God</h2>
                        <p>AKA Daniel Wormald.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="tile single">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>Slug</h2>
                        <p>AKA Tom Ploptington.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>
            <div class="tile single">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>Ok</h2>
                        <p>Ok.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>

            <div class="tile full">
                <div class="view view-first">
                    <img src="images/5825408292_11759e3304_o.jpg" />
                    <div class="mask">
                        <h2>Ok</h2>
                        <p>Ok.</p>
                        <a href="#" class="info">Go To Spayse</a>
                    </div>
                </div>
            </div>-->


        </div>
        <div class="tile-group">
            <div class="header stick">
                Your Chats
                <hr />
            </div>

            <div class="tile single blue">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single brown">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single green">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single red">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/5825408292_11759e3304_o.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/9997944383_ea7eee16fa_k.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single blue">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single brown">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single green">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single red">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/5825408292_11759e3304_o.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
            <div class="tile single img" style="background-image:url('images/9997944383_ea7eee16fa_k.jpg');">

            </div>
            <div class="tile single purple">
                <div class="tile-container">
                    <h3 class="title">
                        Test Title
                    </h3>
                    <p class="content">
                        Lorem ipsum consectetuer elit sit amet, sit adipiscing amet, coectetuer adipiscing elit sit ame.
                    </p>
                    <a href="#" class="btn btn-sm tile-btn">More</a>
                </div>
            </div>
        </div>
    </div>
</div>