<link href="../../stylesheets/Login/SignUp.css" rel="stylesheet" />

<div id="login-top-header">

    <div class="spaces-font login-spaces-font">
        <a class="spaces-font" href="/">Spayses</a>
    </div>

</div>

<div class="register-form">
    <div id="login-title">REGISTER</div>

    <form>

        <div class="col-md-12">
            <input id="username" class="login-input" placeholder="Username" type="text" />
        </div>
        <div class="col-md-12">
            <input id="email" class="login-input" placeholder="Email" type="email" />
        </div>
        <div class="col-md-12">
            <input id="password" class="login-input" placeholder="Password" type="password" />
        </div>
        <div class="col-md-12">
            <input id="varify-password" class="login-input" placeholder="Confirm Password" type="password" />
        </div>

        <button id="registerbtn">Register</button>

    </form>
    <p id="aha">Already have an account? <a href="/">Sign In</a></p>
</div>

<div style="position:absolute; width:100%;height:40px; background-color:black; top:calc(100% - 40px);">

    <div id="bot-terms" style="float:right; color:#9d9d9d; margin-right:15px; height:40px; line-height:40px; width:auto; font-size:12px;">
        2015 SPACES. ALL RIGHTS RESERVED &nbsp; PRIVACY POLICY &nbsp; / &nbsp; TERMS AND CONDITIONS
    </div>

</div>
