<div id="menu-top-header">
    <div id="menu-toggle" style="float:left; height:100%; line-height:70px; color:white; cursor:pointer; margin-left:5px;">
        <img src="images/MenuIcon.png" height="30" width="30" />
    </div>

    <div class="spaces-font login-spaces-font">
        <a class="spaces-font" href="/Home">
            SPAYSES
        </a>
    </div>

    <div id="menu-form">
        <button class="si" style="">Sign Out</button>
        <button class="si">Account</button>
        <button class="si">Chats</button>
    </div>

    <div class="search-header">
        <div>
            Search Spayses
        </div>
    </div>
</div>

<div id="side-menu" class="side-menu-closed">
    <ul>
        <li><a href="/Chat">Melbourne</a></li>
        <li style="list-style: none; display: inline">
            <hr>
        </li>
        <li><a href="/Chat">Delish Worm Rig</a></li>
        <li style="list-style: none; display: inline">
            <hr>
        </li>
        <li><a href="/Chat">AFL</a></li>
        <li style="list-style: none; display: inline">
            <hr>
        </li>
        <li><a href="/Chat">New York</a></li>
    </ul>
</div>