<div id="menu-top-header">

    <div class="spaces-font login-spaces-font">
        <a class="spaces-font" href="/contact">Spayses</a>
    </div>

    <div id="menu-form">
        <button class="si" style="">Sign Out</button>
        <button class="si">Account</button>
        <button class="si">Chats</button>
    </div>

    <div class="search-header">
        <div>
            Search Spayses
        </div>
        <div>
            O
        </div>
    </div>

    <!--<div class="form-group col-lg-4 search-header">
        <div class="form-group has-feedback">
            <input type="text" class="form-control" id="search-top" placeholder="Search">
            <span class="glyphicon glyphicon-search form-control-feedback"></span>
        </div>
    </div>-->
</div>