doctype html
html(style="height:100%;")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel="icon" href="/images/SpaysesIco.png" type="image/x-icon")
    title Spaces | Chat With The World
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style_common.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/Login/ImageEffects.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/Login/Home.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/Tiles.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/Plugins/jquery.mCustomScrollbar.min.css')
    //link(rel='stylesheet', type='text/css', href='/stylesheets/Plugins/mosaic.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/Plugins/finaltilesgallery.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/Plugins/lightbox2.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/Plugins/main.css')
    //link(rel='stylesheet', type='text/css', href='/stylesheets/Chat.css')
    script(src='/javascripts/modernizr-2.6.2.js')
  body

  include TopHeader
    
    .container.body-content

      block homecontent
      
    //script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/jquery-2.2.3.min.js')
    script(src='/javascripts/jquery-1.10.2.intellisense.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/respond.js')
    script(src='/javascripts/Plugins/jquery.mCustomScrollbar.min.js')
    script(src='/javascripts/Plugins/jquery.stickem.js')
    script(src='/javascripts/Plugins/jQuery.scrollSpeed.js')
    //script(src='/javascripts/Plugins/mosaic.1.0.1.min.js')
    script(src='/javascripts/Plugins/jquery.finaltilesgallery.js')
    script(src='/javascripts/Plugins/lightbox2.js')
    script(src='/javascripts/Home.js')

    block scripts
